<!--Faq Search Start-->
<section class="faq-search">
  <div class="container">
    <div class="section-title text-center">
      <div class="section-title__tagline-box">
        <span class="section-title__tagline">frequently asked questions</span>
      </div>
      <h2 class="section-title__title">How can We <span>Help?</span></h2>
    </div>
  </div>
</section>
<!--Faq Search End-->

<!--Faq Page Start-->
<section class="faq-page">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="faq-page__single">
          <div
            class="accrodion-grp faq-one-accrodion"
            data-grp-name="faq-one-accrodion-1"
          >
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>WHAT IF MY DEBIT CARD WAS DECLINED?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>
                    Debit cards have a $1,000 daily transaction limit. This is
                    to prevent major theft in the event your debit card is
                    stolen and used to make purchases. If you attempt to make
                    over $1,000 in single or aggregate purchases for a day your
                    debit card will be declined.
                    <br />
                    <br />
                    If your available account balance is negative this will
                    prevent further purchases on your card from being
                    authorized. All debits previously authorized will be paid
                    from the account even into overdraft. Additional fees may
                    apply.
                    <br />
                    <br />
                    Effective July 1, 2010 if you have not "Opted In" to changes
                    in Overdraft Practices then you will be prevented from
                    making a Debit Card/ATM purchase if you do not have enough
                    money in your account. See Overdraft Protection Changes.
                  </p>
                </div>
                <!-- /.inner -->
              </div>
            </div>
            <div class="accrodion active">
              <div class="accrodion-title">
                <h4>WHAT IF MY DEPOSIT ISN'T SHOWING?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>
                    For determining the availability of your deposits, every day
                    is a business day, except Saturdays, Sundays, and federal
                    holidays. If you make a deposit before close of business on
                    a business day that we are open, we will consider that day
                    to be the day of your deposit. However, if you make a
                    deposit after close of business or on a day we are not open,
                    we will consider that the deposit was made on the next
                    business day we are open.
                  </p>
                </div>
                <!-- /.inner -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="faq-page__single">
          <div
            class="accrodion-grp faq-one-accrodion"
            data-grp-name="faq-one-accrodion-2"
          >
            <div class="accrodion active">
              <div class="accrodion-title">
                <h4>WHAT IF I AM UNABLE TO LOG IN TO INTERNET BANKING?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>
                    If you have tried to log in multiple times, the system will
                    automatically lock you out after five incorrect password
                    attempts. Call your local <%= dataFile.name %> branch and
                    request that your password be reset.
                  </p>
                </div>
                <!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>
                  WHAT IF I NEED AN EMAIL AND PASSWORD FOR INTERNET BANKING?
                </h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>
                    From the home page, click on the navigation pane and then
                    Create Account. As you are enrolling you will be prompted to
                    choose your own email and password. Once approved you will
                    receive an email to confirm your enrollment.
                  </p>
                </div>
                <!-- /.inner -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Faq Page End-->
