<section class="faq-style1-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="faq-style1-title">
          <div class="sec-title">
            <h2>Questions & Answers</h2>
            <div class="sub-title">
              <p>Find answers to all your queries about our service.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6">
        <div class="faq-style1__image">
          <div class="inner">
            <img src="/home/images/resources/faq-style1__image.jpg" alt="" />
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="faq-style1__content">
          <ul class="accordion-box">
            <li class="accordion block active-block">
              <div class="acc-btn active">
                <div class="icon-outer">
                  <i class="icon-right-arrow"></i>
                </div>
                <h3>WHAT IF MY DEBIT CARD WAS DECLINED?</h3>
              </div>
              <div class="acc-content current">
                <p>
                  Debit cards have a $1,000 daily transaction limit. This is to
                  prevent major theft in the event your debit card is stolen and
                  used to make purchases. If you attempt to make over $1,000 in
                  single or aggregate purchases for a day your debit card will
                  be declined.
                  <br />
                  <br />
                  If your available account balance is negative this will
                  prevent further purchases on your card from being authorized.
                  All debits previously authorized will be paid from the account
                  even into overdraft. Additional fees may apply.
                  <br />
                  <br />
                  Effective July 1, 2010 if you have not "Opted In" to changes
                  in Overdraft Practices then you will be prevented from making
                  a Debit Card/ATM purchase if you do not have enough money in
                  your account. See Overdraft Protection Changes.
                </p>
              </div>
            </li>
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <i class="icon-right-arrow"></i>
                </div>
                <h3>WHAT IF MY DEPOSIT ISN'T SHOWING?</h3>
              </div>
              <div class="acc-content">
                <p>
                  For determining the availability of your deposits, every day
                  is a business day, except Saturdays, Sundays, and federal
                  holidays. If you make a deposit before close of business on a
                  business day that we are open, we will consider that day to be
                  the day of your deposit. However, if you make a deposit after
                  close of business or on a day we are not open, we will
                  consider that the deposit was made on the next business day we
                  are open.
                </p>
              </div>
            </li>
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <i class="icon-right-arrow"></i>
                </div>
                <h3>
                  WHAT IF I NEED AN EMAIL AND PASSWORD FOR INTERNET BANKING?
                </h3>
              </div>
              <div class="acc-content">
                <p>
                  From the home page, click on the navigation pane and then
                  Create Account. As you are enrolling you will be prompted to
                  choose your own email and password. Once approved you will
                  receive an email to confirm your enrollment.
                </p>
              </div>
            </li>
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <i class="icon-right-arrow"></i>
                </div>
                <h3>WHAT IF I WANT TO START USING BILL PAY?</h3>
              </div>
              <div class="acc-content">
                <p>
                  During enrollment for internet banking you will have the
                  opportunity to also select bill pay services.
                </p>
              </div>
            </li>
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <i class="icon-right-arrow"></i>
                </div>
                <h3>WHAT IF I AM UNABLE TO LOG IN TO INTERNET BANKING?</h3>
              </div>
              <div class="acc-content">
                <p>
                  If you have tried to log in multiple times, the system will
                  automatically lock you out after five incorrect password
                  attempts. Call your local <%= dataFile.name %> branch and
                  request that your password be reset.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <div class="faq-style1-bottom-box text-center">
          <p>
            Didn’t get, Click below button to more anwers or
            <a href="javascript:(0)">contact us.</a>
          </p>
          <div class="btns-box">
            <a class="btn-one" href="/contact">
              <span class="txt">Contact</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
