<header class="main-header main-header-style1">
  <!--Start Main Header Style1 Top-->

  <!--End Main Header Style1 Top-->

  <nav class="main-menu main-menu-style1">
    <div class="main-menu__wrapper clearfix">
      <div class="container">
        <div class="main-menu__wrapper-inner">
          <div class="main-menu-style1-left">
            <div class="logo-box-style1">
              <a href="/">
                <img
                  src="<%= dataFile.logo %>"
                  alt="Logo"
                  class="tw-h-[50px]"
                />
              </a>
            </div>

            <div class="main-menu-box">
              <a href="javascript:void(0)" class="mobile-nav__toggler">
                <i class="icon-menu"></i>
              </a>

              <ul class="main-menu__list">
                <li>
                  <a href="/">Home</a>
                </li>

                <li class="dropdown">
                  <a href="javascript:void(0)">Services</a>
                  <ul>
                    <li>
                      <a href="/accounts">Accounts</a>
                    </li>
                    <li>
                      <a href="/cards">Cards</a>
                    </li>
                    <li>
                      <a href="/loan">Loans</a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="javascript:void(0)">About</a>
                  <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/team">Board of Directors</a></li>
                    <li><a href="/faq">Faq’s</a></li>
                    <li><a href="/testimonials">Testimonials</a></li>
                    <li><a href="/policy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms & Conditions</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/contact">Get In Touch</a>
                </li>
                <li class="2xl:tw-hidden">
                  <div class="header-btn-one d-flex tw-mt-10 lg:tw-mt-0">
                    <a href="/login" class="tw-block lg:tw-inline tw-w-full">
                      <span class="icon-home-button"></span>Login
                    </a>
                  </div>
                </li>
                <li class="2xl:tw-hidden">
                  <div class="header-btn-one d-flex tw-mt-2 lg:tw-mt-0">
                    <a
                      class="style2 tw-block lg:tw-inline tw-w-full"
                      href="/register"
                    >
                      <span class="icon-payment"></span>Open an Account
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="2xl:tw-block tw-hidden">
            <div class="main-menu-style1-right">
              <div class="header-btn-one">
                <a href="/login">
                  <span class="icon-home-button"></span>Login
                </a>
                <a class="style2" href="/register">
                  <span class="icon-payment"></span>Open an Account
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!--Start Main Header Style1 Bottom-->
  <div class="main-header-style1-bottom">
    <div class="auto-container">
      <div class="outer-box">
        <div class="update-box">
          <div class="inner-title">
            <span class="icon-megaphone"></span>
            <h4>Updates:</h4>
          </div>
          <div class="text">
            <p>
              Get upto 4%* on our Savings Account Balances with <%=
              dataFile.name %>.
            </p>
          </div>
        </div>
        <div class="slogan-box">
          <p>
            Dear Customer, We have launched Video KYC facility for New customer
            to open savings ac
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--End Main Header Style1 Bottom-->
</header>

<div class="stricky-header stricked-menu main-menu">
  <div class="sticky-header__content"></div>
  <!-- /.sticky-header__content -->
</div>
<!-- /.stricky-header -->
