<div
  class="modal fade"
  id="loanDetails"
  tabindex="-1"
  aria-labelledby="centerModal"
  aria-hidden="true"
>
  <div data-bs-toggle="modal" data-bs-target="#loanDetails"></div>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable round">
    <div class="modal-content mobile-screen px-0 py-3">
      <div class="container">
        <div class="modal-header">
          <div class="modal-header-title">
            <h5 class="modal-title">About Loan</h5>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span class="material-icons">close</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="payment-list pb-15">
            <div class="payment-list-details">
              <div class="payment-list-item payment-list-title">Date</div>
              <div class="payment-list-item payment-list-info" id="loanDate">
                15 Jan, 2021
              </div>
            </div>
            <div class="payment-list-details">
              <div class="payment-list-item payment-list-title">Status</div>
              <div
                class="payment-list-item payment-list-info text-capitalize"
                id="loanStatus"
              >
                Success
              </div>
            </div>
            <div class="payment-list-details">
              <div class="payment-list-item payment-list-title" id="cUser">
                Title
              </div>
              <div class="payment-list-item payment-list-info" id="loanTitle">
                For New Building
              </div>
            </div>
            <div class="payment-list-details">
              <div class="payment-list-item payment-list-title">Amount</div>
              <div class="payment-list-item payment-list-info" id="loanAmount">
                $ 185.00
              </div>
            </div>
            <div class="payment-list-details">
              <div class="payment-list-item payment-list-title">Interest</div>
              <div
                class="payment-list-item payment-list-info"
                id="loanInterest"
              >
                $ 185.00
              </div>
            </div>
            <div class="payment-list-details">
              <div class="payment-list-item payment-list-title">Paid</div>
              <div class="payment-list-item payment-list-info loanPaid">
                $ 185.00
              </div>
            </div>
            <button
              data-bs-dismiss="modal"
              type="button"
              class="btn main-btn main-btn-lg full-width tw-bg-red2 mt-4 tw-text-sm rounded tw-shadow-lg tw-shadow-red-200"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
