<div
  class="modal fade"
  id="deleteCard"
  tabindex="-1"
  aria-labelledby="deleteCard"
  aria-hidden="true"
>
  <div data-bs-toggle="modal" data-bs-target="#deleteCard"></div>
  <div class="modal-dialog modal-dialog-centered round">
    <div class="modal-content modal-screen tw-px-[1.5rem]">
      <div class="">
        <div class="text-center calculator-inner" id="make-pay">
          <h1 class="tw-text-lg text-center">
            Are you sure you want to remove this card?
          </h1>
          <form action="/card/delete" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" id="cardId" name="cardId" />
            <button
              type="submit"
              class="btn main-btn main-btn-lg full-width tw-bg-red1 mt-3 mb-2 tw-text-sm rounded tw-shadow-lg tw-shadow-red-200"
            >
              Yes
            </button>
          </form>
          <button
            data-bs-dismiss="modal"
            type="button"
            class="btn main-btn main-btn-lg full-width tw-bg-red2 tw-text-sm rounded tw-shadow-lg tw-shadow-red-200"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
