<!-- BEGIN: Modal Content -->
<div
  id="viewModal"
  class="modal"
  tabindex="-1"
  aria-hidden="true"
  data-tw-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- BEGIN: Modal Header -->
      <div class="modal-header border-0">
        <h2 class="font-medium text-base mr-auto" id="viewModalTitle">
          Transfer Details
        </h2>
        <a data-tw-dismiss="modal" href="javascript:;">
          <i data-lucide="x" class="w-8 h-8 text-slate-400"></i>
        </a>
      </div>
      <!-- END: Modal Header -->
      <!-- BEGIN: Modal Body -->
      <div class="modal-body">
        <table class="table" id="viewModalTable"></table>
      </div>
      <!-- END: Modal Body -->
      <!-- BEGIN: Modal Footer -->
      <div class="modal-footer border-0">
        <button
          type="button"
          data-tw-dismiss="modal"
          class="btn btn-primary w-20 mr-1"
        >
          Close
        </button>
      </div>
      <!-- END: Modal Footer -->
    </div>
  </div>
</div>
<!-- END: Modal Content -->
